
/*          AFTER CLOSING HOURS - STYLE           */



/* ===================== */
/* VARIABLES DE COLOR    */
/* ===================== */

:root {
    --color-fondo: #000000;
    --color-texto: #ffffff;
    --color-dorado: #8d8100;
    --color-gris: #888888;
    --color-footer: #7c3710;
}

/* ===================== */
/* TEMAS ALTERNATIVOS    */
/* ===================== */

/* tema bucles  */

.tema-bucle .contenido::before {
    background: radial-gradient(
        circle,
        rgba(0,0,0,0.5) 40%,
        rgba(0,0,0,0.85) 100%
    );
}


/* Tema para la salida */

/* Esto si toco ver de donde lo hacia  */

.tema-salida .contenido::before {
    background:
        /* Rayo verde diagonal */
        linear-gradient(
            120deg,
            rgba(0,255,120,0.3) 0%,
            rgba(0,255,120,0.15) 20%,
            rgba(0,0,0,0.8) 60%
        ),

        /* Halo verde en el centro */
        radial-gradient(
            circle,
            rgba(0,255,120,0.3) 10%,
            rgba(0,0,0,0.9) 70%
        );
}



/* Tema de peligro */

.tema-peligro .contenido::before {
    background: radial-gradient(
        circle,
        rgba(0,0,0,0.5) 40%,
        rgba(0,0,0,0.85) 100%
    );
}

/* EFECTO DE GLITCH  */
/* Esta muy buena para la tensión */
@keyframes glitchLeve {
    0%,100% { transform: translate(0,0); }
    25% { transform: translate(1px,-1px); }
    50% { transform: translate(-1px,1px); }
    75% { transform: translate(1px,1px); }
}
.tema-peligro .contenido {
    animation: glitchLeve 0.3s infinite;
}

/* Tema de que te ya te mato la entidad */
.tema-entidad .contenido::before {
    background: radial-gradient(
        circle,
        rgba(80,0,0,0.3) 30%,
        rgba(0,0,0,0.9) 100%
    );
}




/* ===================== */
/* ESTILO BASE GENERAL   */
/* ===================== */

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}


/* ===================== */
/* HEADERS               */
/* ===================== */

/* H1 - Título principal */
h1 {
    color: var(--color-texto);
    letter-spacing: 3px;
    font-family: "Papyrus", fantasy;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
}

/* H2 - Subtítulo*/
h2 {
    color: var(--color-dorado);
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

/* H3 - Texto secundario */
h3 {
    color: var(--color-gris);
    font-weight: normal;
    font-size: 22px;
}


/* ===================== */
/* IMÁGENES              */
/* ===================== */

img {
    width: 500px;
    max-width: 90%;
    border: 2px solid var(--color-gris);
    padding: 5px;
}


/* ===================== */
/* BOTONES DE NAVEGACIÓN */
/* ===================== */

/* Contenedor de botones */
.botones {
    display: flex;
    justify-content: center;  /* Centra los botones */
    gap: 100px;               /* Espacio entre botones */
    margin-top: 40px;
}

/* Estilo base de enlaces tipo botón */
.botones a {
    padding: 14px 40px;    
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

    border: 2px solid var(--color-dorado);
    color: #e6e6e6;
    background-color: transparent;

    text-decoration: none;

    transition: all 0.3s ease;
}

/* Efecto hover */
.botones a:hover {
    background-color: var(--color-dorado);
    color: black;
    transform: scale(1.08);
    box-shadow: 0 0 15px var(--color-dorado);
}


/* =============================== */
/* CONTENEDOR PRINCIPAL DE ESCENA */
/* =============================== */
/* Este contenedor se usa en TODAS las pantallas */

.contenido {
    position: relative;

    /* Imagen dinámica (definida por clase escenaX) */
    background-size: cover;
    background-position: center;

    min-height: 90vh;
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: center;

    font-size: 20px;
}

/* Overlay oscuro para mejorar lectura */
.contenido::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* Hace que el texto esté encima del overlay */
.contenido * {
    position: relative;
}


/* ===================================== */
/* CLASES PARA LAS PAGINAS DIFERENTES */
/* ===================================== */

.escena1  { background-image: url("../imagenes/1 esc.jpg"); }
.escaleras { background-image: url("../imagenes/Escaleras.jpg"); }
.pasillo1  { background-image: url("https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/5X/2/0/5/f/205f74ce78cb3e368c42793d5adcf2ba35d04f5f.png"); }
.cine  { background-image: url("https://i.redd.it/0hxody8a2dj91.jpg"); }
.sala  { background-image: url("../imagenes/CineEn.jpg"); }
.pasilloBucle  { background-image: url("https://i.redd.it/no-clipped-to-level-290-v0-eonaoryvtnue1.jpg?width=3024&format=pjpg&auto=webp&s=632816c3dc94e8b87d22c11f21ace7a5ce4a0663"); }
.sinSalida  { background-image: url("https://static.wikia.nocookie.net/escapethebackrooms/images/d/d8/Level_3_Screenshot_4.jpg/revision/latest/scale-to-width-down/250?cb=20240327010119"); }
.escena8  { background-image: url("../imagenes/escena8.jpg"); }
.escena9  { background-image: url("../imagenes/escena9.jpg"); }
.escena10 { background-image: url("../imagenes/escena10.jpg"); }
.escena11 { background-image: url("../imagenes/escena11.jpg"); }
.escena12 { background-image: url("../imagenes/escena12.jpg"); }
.escena13 { background-image: url("../imagenes/escena13.jpg"); }


/* ===================== */
/* Solo para la parte de las reglas */
/* ===================== */

.instr {
    background-color: var(--color-fondo);
    padding: 20px 60px;
}


/* ===================== */
/* FOOTER                */
/* ===================== */

footer {
    background-color: var(--color-fondo);
    padding: 15px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--color-footer);
    border-top: 1px solid #222;
}
