/* ESTILO BASE - AFTER CLOSING HOURS */


/* Fondo general */
body {
    background-color: #000000;
    color: #e6e6e6;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 40px;
}

/* H1 - Título principal */
h1 {
    color: #bbbbbb;
    letter-spacing: 3px;
    font-family: "Papyrus", fantasy;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
    
}

/* H2 - Subtítulo misterioso */
h2 {
    color: #8d8100;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

/* H2 - Texto algo grande */
h3 {
    color: #888888;
    font-weight: normal;
    font-size: 22px;
}

/* Imagen centrada */
img {
    width: 500px;
    max-width: 90%;
    border: 2px solid #444;
    padding: 5px;
}


/* Botones para navegar */
/* CONTENEDOR DE BOTONES */
.botones {
    display: flex;
    gap: 150px;              /* espacio entre botones */
    margin-top: 40px;
}

.botones a {
    padding: 14px 40px;    
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

    border: 2px solid #8d8100; 
    color: #e6e6e6;
    background-color: transparent;

    transition: all 0.3s ease;
}

/* hover efetco*/
.botones a:hover {
    background-color: #8d8100;
    color: black;
    transform: scale(1.08);
    box-shadow: 0 0 15px #8d8100;
}



/* Header se mantiene oscuro */
.instr {
    background-color: black;
    padding: 20px 60px;
}

/* CONTENIDO CON IMAGEN DE FONDO */
.contenido {
    position: relative;
    background-image: url("../imagenes/1 esc.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    font-size: 20px;

}

/* Oscurecer imagen */
.contenido::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.contenido * {
    position: relative;
}